/* =====Common Css Part Goes Bellow====== */
  @import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Manrope:wght@200;400;500;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,400&family=Work+Sans:wght@100;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}
/* =====Banner Part Css Bellow====== */
#banner{
    background: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center center!important;
    height: 100vh;
}
.banner-containt{
   padding-top: 300px;
   display: flex;
    justify-content: right;
}
.banner-text {
    height: 400px;
    width: 500px;
}

.banner-text h1{
    color: #fff;
    text-align: right;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
    font-size: 65px;
}
.banner-text p{
    text-align: right;
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 20px;
}
.btn-primery{
    text-align: right;
    padding-bottom: 20px;
}
.btn-primery button{
    padding: 20px 20px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: black;
}
.btn-primery button a{
    color: #005FAC;
}

/* =====About Part Css Bellow====== */
#about{
    padding: 50px 0px;
}
.about-main{
    display: flex;
   align-items: center;
   justify-content: space-between;
   
}
.about-info {
    position: relative;
    width: 500px;
    height: 500px;
    top: 200px;
    padding: 10px 26px;
}
.about-info h1{
    color:  #151414;
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    
}
.about-info p{
    color:  #444343;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0px;

}
.about-info-text ul li{
    line-height: 26px;
}
i.fa-solid.fa-check {
    position: absolute;
    left: 0px;
    color: #16D887;
    font-size: 20px;
    margin-top: 4px;
}

/* =====plans Part Css Bellow====== */

#plans{
    padding: 30px 0px;
}

.plane-heading h1{
    text-align: center;
    color:  #151414;
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 40px;
}
.plane-wrapper {
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.plane-containt {
    text-align: center;
}
.plane-containt h3{
    color: #151414;
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 700;

}
.plane-containt p{
    color: #737272;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;

}
/* =====images Part Css Bellow====== */

#images{
    padding: 20px 0px;
    padding-bottom: 20px;
}
.text-images-wrapper{
    background:url(../images/gradient1.png) ,url(../images/watch.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height:300px;
}
.images-text h3{
    text-align: left;
    color: #FFF;
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    width: 550px;
    padding: 30px;
}
.btn-sc {
    text-align: left;
    padding: 25px;
}

/* =====Footer Part Css Bellow====== */
#footer{
    background: #151414;
    padding: 60px 0px;
}
.footer-left{
    width: 50%;
}
.footer-left h3{
    color: #F8F8F8;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}
.footer-left p{
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.footer-wraper{
    display: flex;
    justify-content: space-between;
}

.foter-right h4{
    color: #F8F8F8;
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
}

input[type="email"] {
    padding: 10px 10px;
    background: #000;
    border: none;
    border-radius: 2px;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
}
.btn-secondary{
    margin-top: 20px;
    padding:20px 20px;
    background: #005FAC;
    border: none;
    border-radius: 5px;
    color: #fff;
}
.btn-secondary a{
    color: #fff;
}
.icons-social{
    padding-top: 20px;
}
/* =====Banner Part Css Bellow====== */